body {
	margin: 0;
	font-family: 'Roboto',sans-serif;
	font-size: 30px;
}

.text-center {
	text-align: center;
}

/* Percent Viewed */
#progressBar {
	position: fixed;
	top: 0;
	width: 0;
	height: 6px;
	background-color: #3d8176;
	z-index: 1;
}

#percentScrolled {
	position: fixed;
	right: 1%;
	top: 2%;
	font-size: 0.8rem;
	border-radius: 1rem;
	background-color: transparent;
	box-shadow: 1px 1px 1px 1px #535547, 0px 0px 6px 1px #535547;
	color: #3d8176;
	font-weight: 600;
	z-index: 1;
}

#percentScrolled p {
	margin: 0;
	padding: 5px 15px;
}

/* Body Header */

#body-header {
	background-image: url('assets/header-background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 75vh;
	padding-top: 1.2rem;
}

/* Horizontal Lists */

.dropdown-menu {
	width: 8%;
	position: relative;
	left: 85%;
}

.bars {
	color: white;
	display: none;
}

.bars i {
	font-size: 2rem;
}

.horizontal-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.horizontal-list li {
	display: inline-block;
	margin: 0 8px 8px 0;
	font-size: 1rem;
	font-weight: 900;
	font-family: sans-serif;
}

.horizontal-list li a {
	color: white;
	text-decoration: none;
}

.nav-menu li a {
	transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
	color: #F06000;
}

/* Name and Social Icons */

#name-social-container {
	margin-top: 14vh;
}

#my-name {
	color: white;
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}

.social-icons li a i {
	padding: 10px;
	border-radius: 50%;
}

.social-icons li a i:hover {
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*Section Classes*/

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

section:nth-of-type(2n + 1) {
	background-color: white;
}

section:nth-of-type(2n) {
	background-color: #9e9b9b29;
}

.section-heading {
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
	margin-bottom: 75px;
}

.section-heading span {
	color: #2857a4;
	margin-right: 0.5rem;
	font-size: 40px;
}

/* About Section */

#about {
	height: auto;
	width: 100%;
	position: relative;
	/* margin-bottom: 30px; */
}

#my-img {
	height: 12rem;
	width: 12rem;
	margin-top: -17vh;
}

#my-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
	width: 70%;
	text-align: justify;
	color: gray;
	padding: 10px;
	font-size: 1.1rem;
	line-height: 28px;
	margin: 25px;
}

.text-highlight {
	color: #2857a4;
	font-weight: 600;
}

/* Skills Section */

#skills-display {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	padding: 10px;
	justify-content: space-evenly;
}

.skill-progress {
	width: 11rem;
	height: 2.5rem;
	background-color: lightgray;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
	margin: 25px;
	overflow: hidden;
}

.skill-progress > div {
	border-radius: 20px 0px 0px 20px;
	box-shadow: 1px 1px 5px 2px #989882;
	height: inherit;
	transition: width 0.7s ease-in;
}

.skill-name {
	color: white;
	font-size: 1rem;
	margin-left: 9px;
	/* vertical-align: middle; */
}

#skill-1 {
	background-color: #0b8176;

}

#skill-2 {
	background-color: #2857a4;
}

#skill-3 {
	background-color: #93738c;
}

#skill-4 {
	background-color: #eb822d;
}

#skill-5 {
	background-color: #D1008B;
}

#skill-6 {
	background-color: #ec4d1c;
}
#skill-7 {
	background-color: #Cb202D;

}
#skill-8 {
	background-color: #7B0FC8;
}
#skill-9 {
	background-color: #35A849;
}
#skill-10 {
	background-color: #1A79D3;
}

/* Education and Projects Section  */

.timeline {
	width: 75%;
	position: relative;
}

.timeline-box {
	position: relative;
	width: 40%;
	min-height: 150px;
	padding: 5px;
	left: 5%;
	text-align: end;
}

.timeline-box::after {
	content: '';
	background-color: lightgrey;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 25%;
	z-index: 1;
}

.timeline-box:nth-child(2n) {
	left: 53%;
}

.timeline-box:nth-child(2n + 1)::after {
	right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
	left: -9%;
}

.timeline-divider {
	height: 69%;
	width: 0;
	border: 1px dashed #0096fa6b;
	position: absolute;
	left: 50%;
	top: 10%;
}

.timeline-divider .timeline-traveller {
	position: sticky;
	top: 135px;
	z-index: 2;
}

.timeline-divider i {
	transform: rotate(90deg);
	color: #2857a4;
	display: block;
	margin-top: -35px;
}

.project-name,
.education-degree {
	margin: 0;
	font-size: 1.4rem;
	color: #eb822d;
}

.education-institute-name {
	margin: 5px 0 0;
	color: #008000;
	font-weight: bold;
	font-family: comic sans ms;
	font-size: 1.2rem;
}

.education-duration {
	margin: 0;
	font-weight: 100;
	color: grey;
	font-size: 1rem;
}

.project-link {
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	font-family: comic sans ms;
}

.project-link a{
	color: #008000;
	text-decoration: none;
	transition: color 0.5s;
}

.project-link a:hover {
	color: #0b8176;
	text-decoration: underline;
}

.project-description {
	font-size: 14px;
	padding: 2px;
	color: grey;
	line-height: 20px;
	text-align: justify;
}

.education-description {
	font-size: 1rem;
	padding: 2px;
	color: #2857a4;
	line-height: 20px;
	font-weight: 700;
}

/* Certifications Section  */

#certificates-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
	padding: 0 50px;
	box-sizing: border-box;
}

.certificate-image-container {
	max-width: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
	overflow: hidden;
	position: relative;
	border: 2px solid black
}

.certificate-image-container img {
	width: 100%;
	height: 100%;
	transition: all 5s ease-in-out;
}

.certificate-details {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 10px;
	color: transparent;
	transition: all 0.5s ease-in-out;
}

.certificate-image-container:hover {
	box-shadow: 0 0 20px #74adc8;
	transform: scale(1.02);
}

.certificate-image-container:hover .certificate-details {
	background-color: #80808078;
	color: white;
	overflow: auto;
}

/* Contact Section  */

#contact {
	background: #403B4A;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E7E9BB, #403B4A);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contact h1 {
	margin-bottom: 50px;
}

#contact h1 span {
	color: white;
}

#contact-container {
	display: flex;
}

#contact-form-container {
	width: 50%;
}

#contact-form {
	margin-left: 20%;
}

#contact-form input,
textarea {
	margin: 15px;
	padding: 4px 10px;
	border: 0px solid transparent;
	border-bottom: 2px solid white;
	background: transparent;
	width: 90%;
	line-height: 1.6;
	font-size: 1.05rem;
	color: #eb822d;
}

#contact-form button[type='submit'] {
	background: transparent;
	border: 2px solid white;
	color: white;
	margin-top: 5%;
	margin-left: 35%;
	font-size: 0.95rem;
	font-family: sans-serif;
	font-weight: 700;
	padding: 0.8rem;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

#contact-form button:hover {
	background: white;
	color: #13386fe0;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

#contact-details-container {
	width: 35%;
	margin-left: 6%;
}

#contact-details-container h2 {
	color: white;
	font-weight: 550;
	font-size: 2rem;
}

#contact-details-container h3 {
	color: white;
	font-weight: 550;
	font-size: 1.2rem;
}

#contact-details-container p {
	color: #d9dcdd;
	font-size: 0.9rem;
}

.contact-details-info-container {
	margin-bottom: 20px;
	color: #d9dcdd;
	font-size: 1rem;
}

.contact-details-info-container span {
	margin-left: 0.4rem;
}

.contact-details-info-container i {
	color: white;
}

#contact .social-icons li a i {
	font-size: 1.2rem;
	margin: 40px 10px 10px;
	padding: 10px 14px 20px 10px;
}

@media (max-width: 832px) {
	#my-name {
		font-size: 3.46rem;
	}
}

@media (max-width: 725px) {
	.timeline-box {
		left: 10% !important;
		width: 90%;
	}

	.timeline-box::after {
		left: -10% !important;
	}

	.timeline-divider {
		left: 2%;
		top: 10%;
	}

	#contact-container {
		flex-wrap: wrap;
	}

	#contact-form-container {
		width: 80%;
		margin: 10%;
	}

	#contact-form {
		margin-left: 0%;
	}

	#contact-details-container {
		width: 80%;
		margin: 10%;
	}

	.bars {
		display: block;
	}

	.dropdown-list {
		background-color: #828470;
		box-shadow: 0px 4px 8px 1px #535547;
		text-align: left;
		margin: 0 0.2rem;
		padding: 0px 0.8rem;
		position: absolute;
		right: 3%;
		display: none;
	}

	.dropdown-list li {
		margin: 0.4rem 0px;
		display: block;
	}

	.dropdown-menu:hover+.dropdown-list {
		display: block;
	}

	.dropdown-list:hover {
		display: block;
	}

	.horizontal-list li {
		font-weight: 100;
	}

	#name-social-container {
		margin-top: 6vh;
	}
}

@media (max-width: 572px) {
	.timeline-box {
		width: 100%;
		left: 10% !important;
	}

	.timeline-box::after {
		left: -9.5% !important;
	}
}

@media (max-width: 500px) {
	#my-name {
		font-size: 3rem;
	}
}
